body{
    background-color:black;
    color:antiquewhite;
    height: 1500px;
}

p{
    text-align:center;
    color:antiquewhite;
    font-size: 120px;
}

p1{
    font-size: 30px;
    margin: 30px;
}


.container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.project_heading{
    text-align:center;
    font-size: 100px;
}

.project_extra{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

